@media only screen and (min-width: 200px) and (max-width: 899px) {

.bg_img {
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  font-family: "ArimaMadurai";
  font-weight: 900;
  color: #18455a;

  .logo {
    img {
      width: 40%;
    }
  }
  .bg {
    position: relative;
    .wp_image {
      height: 100vh;
      display: inline-block;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
      display: inline-block;
    }
    .wp_questions {
      display: flex; /* or inline-flex */
      flex-direction: column;
      justify-content: start;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      .bubble-question {
        display: flex; /* or inline-flex */
        flex-direction: row;
        width: 100%;
        .bubble-body {
          width: 100%;
          min-height: 120px;
          background-color: rgba(255, 255, 255, 0.7);
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          .bubble-propose {
            .wp_animalImg {
              margin: 5px;
            }
          }
          p {
            font-size: 20px;
          }
          h5 {
            font-size: 16px;
          }
        }
      }
      .bubble-answers {
        display: inline-block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);

        .thanksNewAnimalBool{
          .thanksNewAnimal{
            margin:20px;
          }
          h1 {
            font-size: 24px;
          }
        }
        .newAnimalQuestion {
          display: flex; /* or inline-flex */
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin:20px;

          h1 {
            font-size: 24px;
          }
          .wp-input {
            margin:20px;
            display: flex; /* or inline-flex */
            align-items: center;
            justify-content: center;
            flex-direction: column;
            input {
              margin:10px;
              font-size: 20px;
            }
            button {
              cursor: pointer;
              border: 2px solid rgb(126, 116, 63);
              height: 50px;
              text-align: center;
              min-width: 50%;
              font-size: 20px;
              box-sizing: border-box;
              background: #ffe471;
              background: linear-gradient(to bottom, #ffe471, #ffd31c);
            }
          }
        }
        .wp_answer_again {
          .answer_again {
            display: flex; /* or inline-flex */
            align-items: center;
            justify-content: center;
            list-style-type: none;

            .play_again {
              cursor: pointer;
              border: 2px solid rgb(126, 116, 63);
              height: 50px;
              text-align: center;
              min-width: 50%;
              font-size: 20px;
              box-sizing: border-box;
              background: #ffe471;
              background: linear-gradient(to bottom, #ffe471, #ffd31c);
            }
          }
        }
       
        .answer_list {
          background-color: rgba(255, 255, 255, 0.7);
          list-style-type: none;
          padding: 0;
          display: flex; /* or inline-flex */
          flex-direction: row;
          justify-content: stretch;
          // align-items: space-around;
          flex-grow: 1; /* default 0 */
          width: 100%;
          flex-wrap: wrap;
          align-items: stretch;
          margin: 0;

          li {
            cursor: pointer;
            border: 2px solid rgb(126, 116, 63);
            height: 50px;
            text-align: center;
            min-width: 50%;
            font-size: 20px;
            box-sizing: border-box;
            background: #ffe471;
            background: linear-gradient(to bottom, #ffe471, #ffd31c);
          }
        }
      }
    }
  }
}
}
@media only screen and (min-width: 900px) {
  .bg_img {
    background-image: url("/assets/bg.jpg");
    background-repeat: no-repeat;

    font-family: "ArimaMadurai";
    font-weight: 900;
    color: #18455a;
    height: 100vh;

    .logo{
      padding: 10px;
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        max-width: 200px;
      }
    }

    .bg {
      display: flex; /* or inline-flex */
      flex-direction: row;
      justify-content: center;
      align-items: space-around;
      .wp_image {
        display: inline-block;

      }

      .wp_questions {

        display: flex; /* or inline-flex */
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 50px;
        .bubble-question {
          display: flex; /* or inline-flex */
          flex-direction: row;
          margin-left: -50px;
          .bubble-tail {
            position: relative;
            display: flex; /* or inline-flex */
            justify-content: center;
            align-items: center;
            .number {
              position: absolute;
              // float: left;
              top: 40%;
              right: 30%;
              color: white;
              font-size: 24px;
            }
          }
          .bubble-body {
            width: 300px;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex; /* or inline-flex */
            justify-content: center;
            align-items: center;
            p {
              font-size: 20px;
            }
            h5 {
              font-size: 16px;
            }
          }
        }
        .bubble-answers {
          display: inline-block;
          margin:20px;
          div {
            display: inline-block;
          }

          .thanksNewAnimalBool{
            .thanksNewAnimal{
              margin:20px;
            }
            h1 {
              font-size: 24px;
            }
          }
          .newAnimalQuestion {
            display: flex; /* or inline-flex */
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin:20px;
  
            h1 {
              font-size: 24px;
            }
            .wp-input {
              margin:20px;
              display: flex; /* or inline-flex */
              align-items: center;
              justify-content: center;
              flex-direction: column;
              input {
                margin:10px;
                font-size: 20px;
              }
              button {
                cursor: pointer;
                border: 2px solid rgb(126, 116, 63);
                height: 50px;
                text-align: center;
                min-width: 50%;
                font-size: 20px;
                // max-width: 300px;
                box-sizing: border-box;
                background: #ffe471;
                background: linear-gradient(to bottom, #ffe471, #ffd31c);
              }
            }
          }
          
          .wp_answer_again {
            margin-top:20px;
            .answer_again {
              display: flex; /* or inline-flex */
              align-items: center;
              justify-content: center;
              list-style-type: none;
              .play_again {
                cursor: pointer;
                border: 2px solid rgb(126, 116, 63);
                height: 50px;
                text-align: center;
                // min-width: 100%;
                font-size: 20px;
                width:100%;

                width: 300px;
                box-sizing: border-box;
                background: #ffe471;
                background: linear-gradient(to bottom, #ffe471, #ffd31c);
              }
            }
          }
          .answer_list {
            background-color: rgba(255, 255, 255, 0.7);
            list-style-type: none;
            padding: 0;
            // display: flex; /* or inline-flex */
            flex-direction: column;
            justify-content: center;
            align-items: space-around;
            display: inline-block;
            li {
              width: 200px;
              margin: 10px;
              cursor: pointer;
              border: 2px solid rgb(126, 116, 63);
              height: 50px;
              text-align: center;
              font-size: 20px;
              // max-width: 300px;
              line-height: 50px;

              box-sizing: border-box;
              background: #ffe471;
              background: linear-gradient(to bottom, #ffe471, #ffd31c);
            }
          }
        }
      }
    }
  }
}
