.bg_img {
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center ;

  .wp_image {
    // width: 100vh;
    height: 50vh;
    margin:20px;
    img {
      height: 90%;
    }
  }
  .wp_btn-play {
    height: 100px;

    .btn-play {
      width: 200px;
      text-align: center;
      cursor: pointer;
       .text-play{
         span{
           font-size:15px;
         }
       }
      font-family: "Sansita";
      font-weight: 800;
      color: white;
      text-align: center;
      font-size: 35px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      display: block;
      text-decoration: none;
      padding: 2px 5px 8px 5px;
      margin: auto;
      position: relative;
    }
  }
}
@media only screen and (min-width: 900px) {
  .bg_img {
    background-image: url("./../../../assets/bg.jpg");
    background-repeat: no-repeat;
  
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center ;
  
    .wp_image {
      width: 100%;
      height: 100%;
      display: flex; /* or inline-flex */
      flex-direction: row;
      justify-content: center;
      margin:20px;
      img {
        height: 500px;
      }
    }
    .wp_btn-play {
      height: 100px;
  
      .btn-play {
        width: 200px;
        text-align: center;
        cursor: pointer;
         .text-play{
           span{
             font-size:15px;
           }
         }
        font-family: "Sansita";
        font-weight: 800;
        color: white;
        text-align: center;
        font-size: 35px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: block;
        text-decoration: none;
        padding: 2px 5px 8px 5px;
        margin: auto;
        position: relative;
      }
    }
  }
}
